{% extends '_partials/_base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block styles %}
    <link href="{% static 'lib/fullcalendar/fullcalendar.min.css' %} " rel="stylesheet">
    <link href="{% static 'lib/dt-picker/jquery.datetimepicker.min.css' %}" rel="stylesheet">
{% endblock styles %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">Disponibilidad</li>
{% endblock breadcrumbs %}
{% block content %}

<div class="row fullscreen">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 bg-white d-flex no-padding flex-column">
        <div class="p-4">            
            <div id="calendar"></div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="portlet-box portlet-gutter ui-buttons-col mb-30">
            <div class="portlet-header flex-row flex d-flex align-items-center b-b bg-primary">
                <div class="flex d-flex flex-column">
                    <h3>Generar solicitud</h3> 
                    <span class="portlet-subtitle">Clic aquí para generar solicitud</span>
                </div>                
            </div>
            <div class="portlet-body" id="body-generate">
                <div class="row">
                    <div class="col-md-12 mb-30">
                        <div class="p-3 bg-white rounded shadow-sm">
                            <span class="fs-1x d-block pb-2">Seleccione fecha</span>
                            <input id="datetimepicker" type="text" class="form-control" placeholder="Escoja una fecha">
                        </div>                        
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="p-3 bg-white rounded shadow-sm">
                            <span class="fs-1x d-block pb-2">Seleccione hora inicio</span>
                            <input disabled id="hourstartpicker" placeholder="Escoja una hora de inicio" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="p-3 bg-white rounded shadow-sm">
                            <span class="fs-1x d-block pb-2">Seleccione hora fin</span>
                            <input disabled id="hourendpicker" placeholder="Escoja una hora de termino" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12 mb-30">
                        <span class="btn btn-block btn-success" id="request-room">Solicitar sala</span>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    
    
</div>

{% endblock content %}

{% block javascript %}
    <script src="{% static 'lib/fullcalendar/moment.js' %}"></script>
    <script src="{% static 'lib/fullcalendar/locales/es.js' %}"></script>
    <script src="{% static 'lib/fullcalendar/fullcalendar.min.js' %}"></script>       
    <script type="text/javascript" src="{% static 'lib/dt-picker/jquery.datetimepicker.full.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $.datetimepicker.setLocale('es');
            $('#datetimepicker').datetimepicker({
                format: 'd/m/Y',
                timepicker:false,
                minDate:0,
                dayOfWeekStart: 1,
            });
            $('#hourstartpicker').datetimepicker({
                format: 'H:i',
                datepicker:false,
            });
            $('#hourendpicker').datetimepicker({
                format: 'H:i',
                datepicker:false,
            });
            $('#calendar').fullCalendar({
                locale: 'es',
                header: {
                    left: 'prev,next',
                    center: 'today',
                    right: 'title'
                },
                navLinks: true,  
                events: '{% url "get_events" %}'
            });

            $('#datetimepicker').on('change', function(){
                var year = $(this).datetimepicker('getValue').getFullYear();
                var month = $(this).datetimepicker('getValue').getMonth() + 1;
                month = ((month < 10) ? '0'+month : month)
                var day = $(this).datetimepicker('getValue').getDate();
                var urlBase = "/api/schedule/available/"+year+"/"+month+"/"+day+"/";
                loadHours(urlBase);
            });
            $('#hourstartpicker').on('change', function(){
                var year = $('#datetimepicker').datetimepicker('getValue').getFullYear();
                var month = $('#datetimepicker').datetimepicker('getValue').getMonth() + 1;
                month = ((month < 10) ? '0'+month : month)
                var day = $('#datetimepicker').datetimepicker('getValue').getDate();
                var hour = $(this).datetimepicker('getValue').getHours();
                hour = ((hour < 10) ? '0'+hour : hour)
                var min = $(this).datetimepicker('getValue').getMinutes();
                min = ((min < 10) ? '0'+min : min)
                var urlBase = "/api/schedule/range/"+year+"/"+month+"/"+day+"/"+hour+"/"+min+"/";
                loadHoursEnd(urlBase);
            });
        });
        
    </script>
    <script>
        function loadHours(urlBase){
            console.log(urlBase)
            $.ajax({
                url:urlBase,
                method:'GET',
                success:function(result){
                    enableStartSelect(result);
                },
                error:function(requestObject, error, errorThrown){
                    console.log(requestObject)
                }
            });
        }
        function loadHoursEnd(urlBase){
            console.log(urlBase)
            $.ajax({
                url:urlBase,
                method:'GET',
                success:function(result){
                    enableEndSelect(result);
                },
                error:function(requestObject, error, errorThrown){
                    console.log(requestObject)
                }
            });
        }
        function enableStartSelect(hours){
            $('#hourstartpicker').prop('disabled',false);
            $('#hourstartpicker').datetimepicker({
                allowTimes:hours.available_hours
            });
        }
        function enableEndSelect(hours){
            $('#hourendpicker').prop('disabled',false);
            $('#hourendpicker').datetimepicker({
                allowTimes:hours.range_hours
            });
        }
    </script>
{% endblock javascript %}