{% load static %}
<ul class="metisMenu" id="metisMenu">
    <li class="nav-title">Divisor de seccion<span class="nav-thumbnail">DS</span></li>
    <li class="active"> <i class="icon-Gaugage nav-thumbnail"></i>
        <a class="has-arrow" href="javascript:void(0)">
            <span class="nav-text">
                Opción exp. act.
            </span>
        </a>
        <ul aria-expanded="false">
            <li class="active">
                <span class="nav-thumbnail">01</span>
                <a href="#">Sub opción activo</a>
            </li>
            <li>
                <span class="nav-thumbnail">02</span>
                <a href="#">Subopción</a>
            </li>
            <li>


            </li>
        </ul>
    </li>
    <!--Menu-item-->

    <li><i class="icon-Magic-Wand nav-thumbnail"></i>
        <a href="#">

            <span class="nav-text">
                Opción 
            </span> <span class="badge badge-text ml-1 text-info">50+</span>
        </a>
    </li>

</ul>